extends layout

block content
	h1 About Page
	p asgdjy asykda hgykdeydg ykd gwae dyawgya wiuwediowhase  euwyhuie  ehaui oi8u weo foi o wso o fwfwe63 gf wu hlow45 5g wdre hfweihuwelihaif7 52 5e 748w 4g86  hgfuweffe 