extends layout

block content
	h1 Login
	p Please login using form below
	form(method='post', action='/users/login')
		.form-group
			label Username
			input.form-control(name='username', type='text', placeholder='Enter Username')
		.form-group
			label Password
			input.form-control(name='password', type='password', placeholder='Enter Password')
		input.btn.btn-primary(name='Submit', type='submit', value='Login')